{% autoescape true %}
<html>
<head>
  <title>Reservation System</title>
  <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
</head>
  <body>
  <ul>
  <li><a class="active" href="/">Home</a></li>
  <li><a href="/addResource">Add Resource</a></li>
  <li><a href="/searchresource">Search Resource</a></li>
  <li><a href="{{ url|safe }}">{{ url_linktext }}</a></li>
  </ul>
  <br>
  <br>
  <center><h2>Hello {{user}}!!</h2></center>
  <br>
  <br>
  <label>All Reservations for the user</label>
  <br>
   <br>
  <form id="deletereservation" action="/deletereservation" method="post" >  
  <table class="tagtable" border=1>
  <thead>
      <tr>
         <th>RESOURCE NAME</th>
         <th>USER</th>
         <th>RESERVATION TIME</th>
         <th>RESERVATION DATE</th>
         <th>DURATION</th>
         <th>DELETE RESERVATION</th>
         
      </tr>    
   </thead>
   <tbody>
      <tr>     
        {% if reservations %}
        {% for r in reservations %}
         <td><a href="/addreservation?rval={{r.resourceId}}">{{r.resourcename}}</a>
             <a href="/generateRSS?rval={{r.resourceId}}"><img src="/stylesheets/rss.png" style="width:10px;height:10px;"></a>
         </td>
         <td><a href="/resourceinfo?rval={{r.reservationowner}}">{{r.reservationowner}}</a></td>
         <td>{{r.reservationtime.time()}}</td>
         <td>{{r.reservationtime.date()}}</td>
         <td>{{r.reservationduration}}</td>
         {% if user == r.reservationowner %}
         <td><a href="/deletereservation?rval={{r.reservationid}}">DELETE</a></td>
         {% endif %}
         </tr>
   </tbody>  
    {% endfor %}
    {% endif %}
   </table>
   </form>
   <br>
   <br>
   <br>
   <br>
  <label>All Resources</label>
  <br>
   <br>
  <table class="tagtable" border=1>
  <thead>
      <tr>
         <th>RESOURCE NAME</th>
         <th>AVAILABILITY</th>
         <th>TAGS</th>
         <th>NUMBER OF PAST RESERVATIONS</th>
      </tr>    
   </thead> 
   <tbody>
      <tr>     
        {% if resources %}
        {% for r in resources %}
         <td><a href="/addreservation?rval={{r.resourceid}}">{{r.name}}</a>
             <a href="/generateRSS?rval={{r.resourceid}}"><img src="/stylesheets/rss.png" style="width:10px;height:10px;"></a>
        <td>{{r.starttime.time()}} - {{r.endtime.time()}}</td>
        <td>
        {% for t in r.tags %}
        <a href="/resourcetag?tagval={{t}}">&nbsp{{t}}</a>  
        {% endfor %}
        </td>
        <td>{{r.reservedinpastcount}}</td>
      </tr>
   </tbody>  
    {% endfor %}
    {% endif %}
   </table>
   <br>
   <br>
   <br>
   <br>
   <label>All Resources created by the user</label>
   <br>
   <br>
  <table class="tagtable" border=1>
  <thead>
      <tr>
         <th>RESOURCE NAME</th>
         <th>AVAILABILITY</th>
         <th>TAGS</th>
         <th>NUMBER OF PAST RESERVATIONS</th>
         
      </tr>    
   </thead> 
   <tbody>
      <tr>     
        {% if ownerresources %}
        {% for r in ownerresources %}
         <td>
         <a href="/addreservation?rval={{r.resourceid}}">{{r.name}}</a>
         <a href="/generateRSS?rval={{r.resourceid}}"><img src="/stylesheets/rss.png" style="width:10px;height:10px;"></a>
         </td>
         <td>{{r.starttime.time()}} - {{r.endtime.time()}}</td>
        <td>
        {% for t in r.tags %}
        <a href="/resourcetag?tagval={{t}}">{{t}}</a>  
        {% endfor %}
        </td>
        <td>{{r.reservedinpastcount}}</td>
      </tr>
   </tbody>  
    {% endfor %}
    {% endif %}
   </table>
  </body>
</html>
{% endautoescape %}
