{% autoescape true %}
<html>
<head>
  <title>Reservation System</title>
  <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
</head>
  <body>
  <ul>
  <li><a class="active" href="/">Home</a></li>
  <li><a href="/addResource">Add Resource</a></li>
  <li><a href="/searchresource">Search Resource</a></li>
  <li><a href="{{ url|safe }}">{{ url_linktext }}</a></li>
  </ul>
  <br>
  <br>
  <center><h2>Welcome {{user}}!!</h2></center>
  <br>
  <br>
  <form id="deletereservation" action="/deletereservation" method="post" >  
  <h3>All Reservations for the user</h3>
  <br>
  <table class= "table" border=1>
  <thead>
      <tr class="row header">
         <th class="cell">RESOURCE NAME</th>
         <th class="cell">USER</th>
         <th class="cell">RESERVATION TIME</th>
         <th class="cell">RESERVATION DATE</th>
         <th class="cell">DURATION</th>
         <th class="cell">DELETE RESERVATION</th>
         
      </tr>    
   </thead>
   <tbody>
      <tr class="row">     
        {% if reservations %}
        {% for r in reservations %}
         <td class="cell"><a href="/addreservation?rval={{r.resourceId}}">{{r.resourcename}}</a>
             <a href="/generateRSS?rval={{r.resourceId}}"><img src="/stylesheets/rss.png" style="width:10px;height:10px;"></a>
         </td>
         <td class="cell"><a href="/resourceinfo?rval={{r.reservationowner}}">{{r.reservationowner}}</a></td>
         <td class="cell">{{r.reservationtime.time()}}</td>
         <td class="cell">{{r.reservationtime.date()}}</td>
         <td class="cell">{{r.reservationduration}}</td>
         {% if user == r.reservationowner %}
         <td class="cell"><a href="/deletereservation?rval={{r.reservationid}}">DELETE</a></td>
         {% endif %}
         </tr>
   </tbody>  
    {% endfor %}
    {% endif %}
   </table>
   </form>
   <br>
   <br>
   <h3>All Resources in the system</h3>
  <br>
  <table class="table" border=1>
  <thead>
      <tr class="row header green">
         <th class="cell">RESOURCE NAME</th>
         <th class="cell">AVAILABILITY</th>
         <th class="cell">TAGS</th>
         <th class="cell">NUMBER OF PAST RESERVATIONS</th>
      </tr>    
   </thead> 
   <tbody>
      <tr class="row">     
        {% if resources %}
        {% for r in resources %}
         <td class="cell"><a href="/addreservation?rval={{r.resourceid}}">{{r.name}}</a>
             <a href="/generateRSS?rval={{r.resourceid}}"><img src="/stylesheets/rss.png" style="width:10px;height:10px;"></a>
        <td class="cell">{{r.starttime.time()}} - {{r.endtime.time()}}</td>
        <td class="cell">
        {% for t in r.tags %}
        <a href="/resourcetag?tagval={{t}}">&nbsp{{t}}</a>  
        {% endfor %}
        </td>
        <td class="cell">{{r.reservedinpastcount}}</td>
      </tr>
   </tbody>  
    {% endfor %}
    {% endif %}
   </table>
   <br>
   <br>
   <h3>All Resources created by the user</h3>
   <br>
   <br>
  <table class="table" border=1>
  <thead>
      <tr class="row header blue">
         <th class="cell">RESOURCE NAME</th>
         <th class="cell">AVAILABILITY</th>
         <th class="cell">TAGS</th>
         <th class="cell">NUMBER OF PAST RESERVATIONS</th>
         
      </tr>    
   </thead> 
   <tbody>
      <tr class="row">     
        {% if ownerresources %}
        {% for r in ownerresources %}
         <td class="cell">
         <a href="/addreservation?rval={{r.resourceid}}">{{r.name}}</a>
         <a href="/generateRSS?rval={{r.resourceid}}"><img src="/stylesheets/rss.png" style="width:10px;height:10px;"></a>
         </td>
         <td class="cell">{{r.starttime.time()}} - {{r.endtime.time()}}</td>
        <td class="cell">
        {% for t in r.tags %}
        <a href="/resourcetag?tagval={{t}}">{{t}}</a>  
        {% endfor %}
        </td>
        <td class="cell">{{r.reservedinpastcount}}</td>
      </tr>
   </tbody>  
    {% endfor %}
    {% endif %}
   </table>
  </body>
</html>
{% endautoescape %}
