{% autoescape true %}
<html>
<head>
  <title>Reservation System</title>
  <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
</head>
  <body>
  <ul>
  <li><a class="active" href="/">Home</a></li>
  </ul>
  <br>
  <br>
  <center><h2>Welcome {{user}}!!</h2></center>
  <br>
  <h3>All Resources with the tag {{tagval}}</h3>
  <br>
  <table class="table" border=1>
  <thead>
      <tr class="row header">
         <th class="cell">RESOURCE NAME</th>
         <th class="cell">AVAILABILITY</th>
         <th class="cell">RESOURCE OWNER</th>
         <th class="cell">NUMBER OF PAST RESERVATIONS</th>
       </tr>    
   </thead> 
   <tbody>
      {% if taggedresources %}
      {% for r in taggedresources %}
      <tr class="row">     
         <td class="cell"><a href="/addreservation?rval={{r.resourceid}}">{{r.name}}</a>
             <a href="/generateRSS?rval={{r.resourceid}}"><img src="/stylesheets/rss.png" style="width:10px;height:10px;"></a>
         </td>
         <td class="cell">{{r.starttime.time()}} - {{r.endtime.time()}}</td>
         <td class="cell"><a href="/resourceinfo?rval={{r.resourceowner}}">{{r.resourceowner}}</a></td>
         <td class="cell">{{r.reservedinpastcount}}</td>
      </tr>
      {% endfor %}
      {% endif %}
   </tbody>  
   </table>
   <br>
   <br>
   </body>
</html>
{% endautoescape %}
