{% autoescape true %}
<html>
<head>
  <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
  <title>Search Resource</title>
</head>
  <body>
  <ul>
  <li><a class="active" href="/">Home</a></li>
  </ul>
  <br>
  <br>
  <form id="searchform" action="/searchresource" method="post">  
  <h1>Search Resource by name or by availability</h1>
  {% if uierror %}
  <br>
  <div class="error">
  <label>{{uierror}}</label>
  </div>
  <br>
  {% endif %}
  <label>Resource Name:</label>    
  <input type="text" id="name" name = "name" value="{{ resourcename }}">
  <br>
  <br>
  <label>Resource Availability Time:</label>    
  <input type="time" id="starttime" name = "starttime" value="{{ resourcestarttime }}">
  <br>
  <br>
  <label>Duration in minutes:</label>    
  <input type="text" id="duration" name = "duration" value="{{ resourceduration }}">
  <br>
  <br>
  <input id="searchresource" value="Search" type="submit">
  <br>
  <br>
  {% if resourcelist %}
  <h3>All Resources satisfying the search criteria</h3>
  <br>
  <table class="table" border=1>
  <thead>
      <tr class="row header">
         <th class="cell">RESOURCE NAME</th>
         <th class="cell">AVAILABILITY</th>
         <th class="cell">RESOURCE OWNER</th>
         <th class="cell">NUMBER OF PAST RESERVATIONS</th>
              
      </tr>    
   </thead> 
   <tbody>
    {% for r in resourcelist %}
      <tr class="row">     
         <td class="cell"><a href="/addreservation?rval={{r.resourceid}}">{{r.name}}</a>
             <a href="/generateRSS?rval={{r.resourceid}}"><img src="/stylesheets/rss.png" style="width:10px;height:10px;"></a>
         </td>
         <td class="cell">{{r.starttime.time()}} - {{r.endtime.time()}}</td>
         <td class="cell"><a href="/resourceinfo?rval={{r.resourceowner}}">{{r.resourceowner}}</a></td>
         <td class="cell">{{r.reservedinpastcount}}</td>
      </tr>
    {% endfor %}
   </tbody>  
   </table>
   {% endif %}
   </form>
 </body>
</html>
{% endautoescape %}
