{% autoescape true %}
<html>
<head>
  <title>Reservation System</title>
  <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
</head>
  <body>
  <ul>
  <li><a class="active" href="/">Home</a></li>

  
  </ul>
  <br>
  <br>
  <center><h2>Welcome {{user}}!!</h2></center>
  <br>
  <br>
  <h3>All upcoming Reservations for the resource</h3>
  <br>
  <form id="upcomingreservations" action="/upcomingreservation" method="get" >  
  <table class="table" border=1>
  <thead>
      <tr class="row header">
         <th class="cell">RESOURCE NAME</th>
         <th class="cell">USER</th>
         <th class="cell">RESERVATION TIME</th>
         <th class="cell">RESERVATION DATE</th>
         <th class="cell">DURATION</th>
         <th class="cell">DELETE RESERVATION</th>
         
      </tr>    
   </thead>
   <tbody>
      <tr class="row">     
        {% if UpcomingReservations %}
        {% for r in UpcomingReservations %}
         <td class="cell"><a href="/addreservation?rval={{r.resourceId}}">{{r.resourcename}}</a>
             <a href="/generateRSS?rval={{r.resourceId}}"><img src="/stylesheets/rss.png" style="width:10px;height:10px;"></a>
         </td>
         <td class="cell"><a href="/resourceinfo?rval={{r.reservationowner}}">{{r.reservationowner}}</a></td>
         <td class="cell">{{r.reservationtime.time()}}</td>
         <td class="cell">{{r.reservationtime.date()}}</td>
         <td class="cell">{{r.reservationduration}}</td>
         {% if user == r.reservationowner %}
         <td class="cell"><a href="/deletereservation?rval={{r.reservationid}}">DELETE</a></td>
         {% endif %}
         </tr>
   </tbody>  
    {% endfor %}
    {% endif %}
   </table>
   </form>
   <br>
   </body>
</html>
{% endautoescape %}
