body {
  font-family: Verdana, Helvetica, sans-serif;
  background-color: #DDDDDD;
  
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


tr{    width: 100%;
}
td {
    border: solid 2px lightgrey;
    height: 50px;
    vertical-align: bottom;    
}

li a:hover {
    background-color: #111;
}
input[type=button] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.tagtable a {
    display:block;
    text-decoration:none;
 
    
    
}



input[type=button]:hover {
    background-color: #45a049;
}

input[type=submit]:hover {
    background-color: #45a049;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.error{
border: 1px solid;
margin: 10px 0px;
padding:15px 10px 15px 50px;
background-repeat: no-repeat;
background-position: 10px center;
}

.error {
color: #D8000C;
background-color: #FFBABA;
background-image: url('/stylesheets/Error.png');
}

h1 {
    font-size: 36px;
    line-height: 40px;
    margin: 1em 0 .6em 0;
    font-weight: normal;
    color:  #000000;
    font-family: 'Hammersmith One', sans-serif;
    position: relative;
}
 .disabled {
        pointer-events: none;
        cursor: default;
        opacity: 0.6;
    }